<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<body>
<div id="wrapper" layout:fragment="content">
	<nav style="margin-bottom: 0" class="navbar navbar-default navbar-static-top">
		<div class="navbar-header">
			<button data-target=".sidebar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a th:href="@{/}" class="navbar-brand" th:text="#{navbar.header}"></a>
		</div>
		<ul class="nav navbar-top-links navbar-right">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" class="dropdown-toggle">
					<i class="fa fa-user fa-fw"></i>
					<i class="fa fa-caret-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-user">
					<li>
						<a th:href="@{/logout}">
							<i class="fa fa-sign-out fa-fw"></i> <span th:text="#{logout.label}"></span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<nav class="navbar-default navbar-static-side">
		<div class="sidebar-collapse">
			<ul id="side-menu" class="nav">
				<li>
					<a th:href="@{/}">
						<i class="fa fa-dashboard fa-fw"></i> <span th:text="#{summary.label}"></span>
					</a>
				</li>
				<li>
					<a th:href="@{/levees}">
						<i class="fa fa-picture-o fa-fw"></i> <span th:text="#{levees.label}"></span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div id="page-wrapper">
		<section layout:fragment="home-content"></section>
	</div>
</div>
</body>
</html>