<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">ISMOP</title>
	<meta name="gwt:property" th:content="'locale=' + ${#httpServletRequest.getLocale().getLanguage()}"/>
	<meta id="csrfToken" name="_csrf" th:content="${_csrf} ? ${_csrf.token}"/>
	<meta id="csrfHeaderName" name="_csrf_header" th:content="${_csrf} ? ${_csrf.headerName}"/>
	<meta name="_csrf_parameter_name" th:content="${_csrf} ? ${_csrf.parameterName}"/>
	
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/sb-admin.css}" rel="stylesheet"/>
</head>
<body>
	<div>
		<section layout:fragment="content"></section>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery-1.10.2.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/morris/raphael-2.1.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/plugins/morris/morris.js}"></script>
	<script type="text/javascript" th:src="@{/js/sb-admin.js}"></script>
	<script type="text/javascript" th:src="@{/js/dygraph-combined.js}"></script>
	<section layout:fragment="javascripts"></section>
	<section layout:fragment="javascripts2"></section>
</body>
</html>