<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home">
<head>
<title>#{levees.page.title}</title>
</head>
<body>
	<div id="wrapper" layout:fragment="home-content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{levees.label}"></h1>
			</div>
		</div>
		<div id="mapContainer" style="height: 400px;"></div>
		<div id="detailsContainer" style="margin-top: 20px;"></div>
	</div>
	<div layout:fragment="javascripts">
		<script type="text/javascript" th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapApiKey} + '&amp;sensor=false'}"></script>
		<script type="text/javascript" th:utext="'var geojsonUrl = \'' + @{/maps/geojson} + '\';'"></script>
		<script type="text/javascript" th:utext="'var sensorUrl = \'' + @{/maps/sensors} + '\';'"></script>
		<script type="text/javascript" th:utext="'var iconBaseUrl = \'' + @{/icons} + '\';'"></script>
		<script type="text/javascript" th:utext="'var properties = {dapEndpoint: \'' + ${dapEndpoint} + '\', dapToken: \'' + ${dapToken} + '\'};'"></script>
		<script type="text/javascript" th:src="@{/ismopweb/ismopweb.nocache.js}"></script>
	</div>
</body>
</html>