<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layout">
<head>
	<title th:text="#{registration.page.title}"></title>
</head>
<body>
<div class="row" layout:fragment="content">
	<div class="col-md-4 col-md-offset-4">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title" th:text="#{registration.header}"></h3>
			</div>
			<div class="panel-body">
				<form th:action="@{/register}" th:object="${registration}" method="post">
					<fieldset>
						<div class="form-group" th:class="${#fields.hasErrors('email')}? 'form-group has-error':'form-group'">
							<input class="form-control" th:placeholder="#{user.name.placeholder}" autofocus="autofocus" th:field="*{email}"></input>
							<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('password')}? 'form-group has-error':'form-group'">
							<input class="form-control" th:placeholder="#{password.placeholder}" type="password" th:field="*{password}"></input>
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
						</div>
						<div class="form-group">
							<input class="form-control" th:placeholder="#{confirm.password.placeholder}" type="password" th:field="*{confirmPassword}"></input>
						</div>
						<div class="form-group" th:class="${#fields.hasErrors('secretToken')}? 'form-group has-error':'form-group'">
							<input class="form-control" th:placeholder="#{secret.token.placeholder}" type="password" th:field="*{secretToken}"></input>
							<p th:if="${#fields.hasErrors('secretToken')}" th:errors="*{secretToken}"></p>
						</div>
						<div th:if="${#fields.hasGlobalErrors()}" th:class="${#fields.hasGlobalErrors()}? 'form-group has-error':'form-group'">
							<p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
						</div>
						<button type="submit" class="btn btn-lg btn-success btn-block" th:text="#{register.label}"></button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>