<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="home">
<head>
<title>#{summary.page.title}</title>
</head>
<body>
	<div layout:fragment="home-content">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header" th:text="#{summary.label}"></h1>
			</div>
		</div>
		<div id="leveesContainer"></div>
	</div>
	<div layout:fragment="javascripts">
		<script type="text/javascript" th:utext="'var properties = {dapEndpoint: \'' + ${dapEndpoint} + '\', dapToken: \'' + ${dapToken} + '\'};'"></script>
		<script type="text/javascript" th:src="@{/ismopweb/ismopweb.nocache.js}"></script>
	</div>
</body>
</html>