<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<meta name="gwt:property" th:content="'locale=' + ${#httpServletRequest.getLocale().getLanguage()}"/>
		<meta id="csrfToken" name="_csrf" th:content="${_csrf} ? ${_csrf.token}"/>
		<meta id="csrfHeaderName" name="_csrf_header" th:content="${_csrf} ? ${_csrf.headerName}"/>
		<meta id="csrfParameterName" name="_csrf_parameter_name" th:content="${_csrf} ? ${_csrf.parameterName}"/>
		<title th:text="#{workspace.page.title}"></title>
		
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
		
		<link th:href='@{/css/bootstrap-datetimepicker.min.css}' rel='stylesheet' type='text/css'/>
		
		<script type="text/javascript" th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapApiKey} + '&amp;sensor=false&amp;libraries=drawing'}"></script>
		<script type="text/javascript" th:utext="'var geojsonUrl = \'' + @{/maps/geojson} + '\';'"></script>
		<script type="text/javascript" th:utext="'var sensorUrl = \'' + @{/maps/sensors} + '\';'"></script>
		<script type="text/javascript" th:utext="'var profileUrl = \'' + @{/maps/sections} + '\';'"></script>
		<script type="text/javascript" th:utext="'var iconBaseUrl = \'' + @{/icons} + '\';'"></script>
		<script type="text/javascript" th:utext="'var properties = {dapEndpoint: \'' + ${dapEndpoint} + '\', dapToken: \'' + ${dapToken} + '\', hypgenEndpoint: \'' + ${hypgenEndpoint} + '\', hypgenToken: \'' + ${hypgenToken} + '\'};'"></script>
		<script type="text/javascript" th:src="@{/js/Detector.js}"></script>
		<script type="text/javascript" th:src="@{/js/three.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/Projector.js}"></script>
		<script type="text/javascript" th:src="@{/js/CanvasRenderer.js}"></script>
		<script type="text/javascript" th:src="@{/js/optimer_bold.typeface.js}"></script>
		<script type="text/javascript" th:src="@{/js/optimer_regular.typeface.js}"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script type="text/javascript" th:src="@{/js/highcharts.js}"></script>
		<script type="text/javascript" th:src="@{/js/highcharts-more.js}"></script>
		<script type="text/javascript" th:src="@{/js/highcharts-exporting.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript" th:src="@{/ismopweb/ismopweb.nocache.js}"></script>
	</head>
	<body>
		<div id="three" style="width: 100px; height: 100px;"></div>
	</body>
</html>